# 🔧 Node & Frontend dependencies
**/node_modules/

# 🧪 Test coverage
**/coverage/

# 🚀 Build outputs
**/build/
**/.next/
**/out/

# 📦 Package manager files
.pnp*
*.tsbuildinfo
.next-env.d.ts

# 🔐 Env variables
.env
.env.*.local
.env.local

# ⚠️ Logs & debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💻 System files
.DS_Store

# ▲ Vercel
.vercel

# 💥 IDE stuff (optional but good)
.vscode/
.idea/
*.swp
